<nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user/login">Login</a></li>
      <li><a href="/user/register">Register</a></li>
      <li><a href="/provider/list">Providers</a></li>
      <li><a href="/provider/create">Create Service</a></li>
      <li><a href="/delete/list">delet Service</a></li>
      <li><a href="/service">Service Dashboard</a></li>
      <li><a href="/cart/view">cart</a></li>
      <li><a href="/user/logout">Logout</a></li>
      <li><a href="/admin/login">admin</a></li>
    </ul>
  </nav>
  
  <style>
    .navbar {
      background-color: #3a3f44;
      padding: 10px 20px;
    }
    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    .navbar ul li {
      margin: 0;
    }
    .navbar ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      display: block;
      transition: background 0.3s ease;
    }
    .navbar ul li a:hover {
      background-color: #808b97;
    }
  </style>
  